/* FONT WEIGHT : 200 - 400 - 500 - 600 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  font-size: 62.5%;
  position: relative;
}

section {
  width: 100vw;
  max-width: 100%;
}

.--inner-container {
  width: 90%;
  max-width: 1200px;
}

.react-icons {
  vertical-align: middle;
}
